.btn {
    background-color: white;
    padding: .5rem;
    border: 0;
    color: black;
    font-family: Airal;
    font-weight: bold;
    text-transform: uppercase;
    &.primary{
        background-color: limegreen;
    }
    &.secondary{
        background-color: white;
        border: 1px solid limegreen;
    }
}// .btn parent class end