@use "../sass/abstracts/mixins";

.container{
    // background-color: teal;
    width: 100%;
    padding-left:  1rem;
    padding-right: 1rem;
    @include mixins.breakpoint(tablet) {
        width: 90%;
        margin: 0 auto;
    }
    @include mixins.breakpoint(laptop) {
        width: 960px;
    }
    @include mixins.breakpoint(desktop) {
        width: 1140px;
    }
}


