@use '../sass/abstracts/mixins';

.main {
	padding-top: 1rem;
	padding-bottom: 1rem;
	@include mixins.breakpoint(tablet) {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}
	@include mixins.breakpoint(laptop) {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
	@include mixins.breakpoint(desktop) {
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
	}
}