@use '../sass/abstracts/mixins';

.nav{
   // background-color: lightpink;
    display: none;
    @include mixins.breakpoint(tablet) {
        display: block;
    }
    .list{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        .listItem{
            a {
                padding: 1rem;
                display:block;
                text-decoration: none;
                color:black;
                font-weight:bold;
                &:hover, &focus {
                    color: gray;
                }
            }
        }
    }
} // .nav parent end