@use '../abstracts/mixins';

.mobile-only{
    @include mixins.breakpoint(tablet) {
        display: block;
}
}

.desktop-only{
    display:none;
    @include mixins.breakpoint(laptop) {
        display: block;

}
}